.form-button {
    margin-left: 15px;
    margin-right: 15px;
}

.form-text {
    margin-right: 8px;
}

.form-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}

.form-group {
    margin-bottom: 15px;
}

.form-registration {
    margin-left: 15px;
    margin-right: -15px;
}

.checkout-block-margin {
    margin-bottom: 40px;

    #forgottenPassword {
        color: $base-gray;
    }
}
