@media (min-width: $small) {

    html {
    position: relative;
    min-height: 100%;
    }
    body {
    /* Margin bottom by footer height */
    margin-bottom: 350px;
    }

    .footer2 {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.footer2 {
    

    ul, ol {
    padding: 0;
    margin: 0;
    }

    li {
        list-style: none;    
    }

    /*FOOTER 2*/
    a {
        color: #DDD;
    }

    a:hover,
    a:focus,
    a:active {
        color: #FFF;
    }

    .footer {
        background-color: #2E3436;
        padding: 35px 0;
        margin-top: 5em;
    }

    .footer nav h3 {
        font-size: 18px;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 1em 0;
    }

    .footer nav h3 span {
        font-weight: 300;
        text-transform: capitalize;
    }

    .footer nav ul li a {
        text-decoration: none;
        display: block;
        padding: 4px 0;
        font-size: 13px;
    }

    .footer-bottom {
        background-color: #222728;
        padding: 15px 0;
        color: #DDD;
        font-size: 13px;
    }

    .footer-bottom ul li {
        display: inline-block;
    }

    .footer-bottom ul li a {
        display: block;
        padding-left: 8px;
    }

    .footer-bottom ul li a:after {
        content: "-";
        padding-left: 8px;
    }

    .footer-bottom ul li:last-child a:after {
        content: "";
    }

    @media (max-width: 550px) {
        .footer-bottom .pull-left,
        .footer-bottom .pull-right {
            float: none !important;
            width: 100%;
            padding: 10px;
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .footer {
            text-align: center;
        }
    }
    @media (max-width: 991px) {
        .footer ul {
            margin-bottom: 30px;
        }
    }

    #footer-logo {
        span {
            color: white;
            font-size: 2.2rem;
        }
    }
}

